body {
    margin: 20px;
    padding: 20px;
    background-color: rgba(12, 146, 146, 0.61);
}

p {
    margin-left: 300px;
}

.sencalm {
    margin-left: 310.8px;
}

.senwor {
    margin-left: 310.8px;
}

.senop {
    margin-left: 310px;
}